<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
              <p>We are part of the <a href="https://cs.uwaterloo.ca/">Cheriton School of Computer Science</a> at the <a href="https://uwaterloo.ca">University of Waterloo</a>.</p>
            

		   <p>  </p><p>
            		  
		</div>
		<div class="col-sm-4">
		  Contact:<br />
          David R. Cheriton School of Computer Science<br />
          University of Waterloo<br />
		  200 University Ave W<br />
		  Waterloo ON N2L3G1<br />
		  Canada <br />
            (<a href="https://goo.gl/maps/Mb7SKLUvmSoPPZTAA">Maps</a>, <a href="https://cs.uwaterloo.ca/about/visit-us">Visit us</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
