<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>Template made available by <a href="http://www.allanlab.org">AllanLab</a></p>
              <p>We are part of the <a href="https://cs.uwaterloo.ca/">Cheriton School of Computer Science</a> at the <a href="https://uwaterloo.ca">University of Waterloo</a>.</p>
            

		   <p>  </p><p>
            		  
		</div>
		<div class="col-sm-4">
		  Contact:<br />
          David R. Cheriton School of Computer Science<br />
          University of Waterloo<br />
		  200 University Ave W<br />
		  Waterloo ON N2L3G1<br />
		  Canada <br />
            (<a href="https://goo.gl/maps/Mb7SKLUvmSoPPZTAA">Maps</a>, <a href="https://cs.uwaterloo.ca/about/visit-us">Visit us</a>)
		</div>
		<div class="col-sm-4">
		  OpAL lab is funded by:<br /> 
          <a href="https://uwaterloo.ca">The University of Waterloo</a><br />
          <a href="https://www.nserc-crsng.gc.ca/index_eng.asp">NSERC</a><br />
          <a href="https://www.huawei.com/en/?ic_medium=direct&ic_source=surlent">HUAWEI</a><br />
          <a href="https://www.darpa.mil/program/data-driven-discovery-of-models">DARPA</a> (formerly)<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
