<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-lg navbar-light" aria-label="Main navigation">
    <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" href="{{ site.baseurl }}/" aria-label="{{ site.title }} home">
        <span class="brand-text">{{ site.title }}</span>
        <span class="brand-subtitle">@ University of Waterloo</span>
      </a>
      
      <!-- Mobile menu button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Navigation menu -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/" aria-label="Home">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/team" aria-label="Team">
              <i class="fas fa-users" aria-hidden="true"></i>
              <span>Team</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/publications" aria-label="Publications">
              <i class="fas fa-book-open" aria-hidden="true"></i>
              <span>Publications</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/group_achievements" aria-label="Group Achievements">
              <i class="fas fa-trophy" aria-hidden="true"></i>
              <span>Achievements</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
               data-bs-toggle="dropdown" aria-expanded="false" aria-label="More resources">
              <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
              <span>More</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://github.com/watcl-lab" aria-label="GitHub">
                <i class="fab fa-github" aria-hidden="true"></i> Code
              </a></li>
              <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCfFSCwDsARA-BCHx6Hlm07Q" aria-label="YouTube Channel">
                <i class="fab fa-youtube" aria-hidden="true"></i> YouTube
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
